pipeline/ContinuousRefresh.json
{
	"name": "ContinuousRefresh",
	"properties": {
		"activities": [
			{
				"name": "ExecuteLoadAnalyticsRelatedDatasets",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsDatasetsByDatePeriod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadAnalyticsRelatedDatasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractAnalyticsGroupsFiltersDatasets",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractContentPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsGroupsAndFiltersDatasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractAnalyticsDatasetsByDateRangePeriod",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsGroupsFiltersDatasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsDatasetsByDateRangePeriod",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DateRangePeriod": {
							"value": "@variables('DateRangePeriod')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteExtractAnalyticsDatasetsByDatePeriod",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsDatasetsByDateRangePeriod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsDatasetsByDatePeriod",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DatePeriod": {
							"value": "@convertFromUtc(addDays(utcNow(), -1), 'Eastern Standard Time', 'yyyyMMdd')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "If first day of the month",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(dayOfMonth(convertFromUtc(utcNow(), 'Eastern Standard Time', 's')), 1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set DateRange to this_month",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DateRangePeriod",
								"value": "this_month"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set DateRange to last month range",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DateRangePeriod",
								"value": {
									"value": "@{convertFromUtc(addDays(utcNow(), -1), 'Eastern Standard Time', 'yyyyMM')}01_@{convertFromUtc(addDays(utcNow(), -1), 'Eastern Standard Time', 'yyyyMMdd')}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ExecuteExtractQualityAssuranceDatasets",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If first day of the month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractQualityAssuranceDatasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteLoadQualityAssuranceDatasets",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractQualityAssuranceDatasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadQualityAssuranceDatasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractContentPages",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractQualityAssuranceDatasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractContentPages",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteLoadContentDatasets",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractContentPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadContentDatasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"DateRangePeriod": {
				"type": "String"
			},
			"DayOfMonth": {
				"type": "String"
			},
			"Now": {
				"type": "String"
			},
			"YYYYmmdd": {
				"type": "String"
			},
			"LastMonthRange": {
				"type": "String"
			}
		},
		"annotations": []
	}
}