pipeline/ContinuousRefresh.json
{
	"name": "ContinuousRefresh",
	"properties": {
		"activities": [
			{
				"name": "ExecuteLoadAnalyticsRelatedDatasets",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsDatasetsByDatePeriod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadAnalyticsRelatedDatasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractAnalyticsGroups",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractContentPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsGroups",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractAnalyticsDatasetsByDateRangePeriod",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsGroups",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsDatasetsByDateRangePeriod",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DateRangePeriod": {
							"value": "@variables('DateRangePeriod')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteExtractAnalyticsDatasetsByDatePeriod",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsDatasetsByDateRangePeriod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsDatasetsByDatePeriod",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DatePeriod": {
							"value": "@convertFromUtc(addDays(utcNow(), -1), 'Eastern Standard Time', 'yyyyMMdd')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteExtractQualityAssuranceDatasets",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If first day of the month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractQualityAssuranceDatasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteLoadQualityAssuranceDatasets",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractQualityAssuranceDatasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadQualityAssuranceDatasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractContentPages",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractQualityAssuranceDatasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractContentPages",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteLoadContentDatasets",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractContentPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadContentDatasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "If first day of the month",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(dayOfMonth(convertFromUtc(utcNow(), 'Eastern Standard Time', 's')), 1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set DateRange to current month range",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LookupDateRangePeriod",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DateRangePeriod",
								"value": {
									"value": "@activity('LookupDateRangePeriod').output.firstRow.DateRangePeriod",
									"type": "Expression"
								}
							}
						},
						{
							"name": "LookupDateRangePeriod",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT CONCAT(CONVERT(char(8), DATEADD(DAY,1,EOMONTH(GETDATE(),-1)), 112), '_', CONVERT(char(80), EOMONTH(GETDATE()), 112)) AS DateRangePeriod",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlDataset",
									"type": "DatasetReference"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "LookupLastMonthDateRangePeriod",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT CONCAT(CONVERT(char(8), DATEADD(MONTH, -1, GETDATE()), 112), '_', CONVERT(char(8), EOMONTH(GETDATE(), -1), 112)) AS DateRangePeriod",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlDataset",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set DateRange to last month range",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LookupLastMonthDateRangePeriod",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DateRangePeriod",
								"value": {
									"value": "@activity('LookupLastMonthDateRangePeriod').output.firstRow.DateRangePeriod",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"DateRangePeriod": {
				"type": "String"
			},
			"DayOfMonth": {
				"type": "String"
			},
			"Now": {
				"type": "String"
			},
			"YYYYmmdd": {
				"type": "String"
			},
			"LastMonthRange": {
				"type": "String"
			}
		},
		"annotations": []
	}
}