pipeline/ExtractAnalyticsPageMetricsByPeriodFilterId.json
{
	"name": "ExtractAnalyticsPageMetricsByPeriodFilterId",
	"properties": {
		"activities": [
			{
				"name": "LookupAnalyticsFilters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AnalyticsFiltersCsvDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachAnalyticsFilterExtractAnalyticsPageMetrics",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupAnalyticsFilters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupAnalyticsFilters').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "ExtractAnalyticsGroupsAnalyticsPageMetrics",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "collected_on",
											"value": {
												"value": "@{pipeline().parameters.Period}",
												"type": "Expression"
											}
										},
										{
											"name": "filter_id",
											"value": {
												"value": "@{item().id}",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:03:00",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"AbsoluteUrl": "$.links.next.href"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['average_page_views_per_visit']"
											},
											"sink": {
												"name": "average_page_views_per_visit",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['bounce_rate']"
											},
											"sink": {
												"name": "bounce_rate",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['page_views']"
											},
											"sink": {
												"name": "page_views",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "['visits']"
											},
											"sink": {
												"name": "visits",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['collected_on']"
											},
											"sink": {
												"name": "collected_on",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['filter_id']"
											},
											"sink": {
												"name": "filter_id",
												"type": "Int64"
											}
										}
									],
									"collectionReference": "$['items']"
								}
							},
							"inputs": [
								{
									"referenceName": "AnalyticsPageMetricsRestDatasetByPeriodFilterId",
									"type": "DatasetReference",
									"parameters": {
										"Period": {
											"value": "@pipeline().parameters.Period",
											"type": "Expression"
										},
										"FilterId": "@item().id"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AnalyticsPageMetricsCsvDatasetByPeriodFilterId",
									"type": "DatasetReference",
									"parameters": {
										"Period": {
											"value": "@pipeline().parameters.Period",
											"type": "Expression"
										},
										"FilterId": "@item().id"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Period": {
				"type": "string"
			}
		},
		"variables": {
			"Period": {
				"type": "String"
			}
		},
		"folder": {
			"name": "analytics"
		},
		"annotations": []
	}
}