pipeline/ExtractContentGroupsPages.json
{
	"name": "ExtractContentGroupsPages",
	"properties": {
		"activities": [
			{
				"name": "LookupContentGroups",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DeleteContentGroupsPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ContentGroupsCsvDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachContentGroupExtractPages",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupContentGroups",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupContentGroups').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ExtractContentGroupsPages",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "content_group_id",
											"value": {
												"value": "@{item().id}",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"AbsoluteUrl": "$.links.next.href"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "page_id",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['content_group_id']"
											},
											"sink": {
												"name": "content_group_id",
												"type": "Int64"
											}
										}
									],
									"collectionReference": "$['items']"
								}
							},
							"inputs": [
								{
									"referenceName": "ContentGroupsPagesRestDataset",
									"type": "DatasetReference",
									"parameters": {
										"GroupId": "@{item().id}"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ContentGroupsPagesCsvDataset",
									"type": "DatasetReference",
									"parameters": {
										"GroupId": "@{item().id}"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "DeleteContentGroupsPages",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Prevent Delete from failing when folder is empty",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ContentGroupsPagesFolderDataset",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false,
						"wildcardFileName": "content_group_*.csv"
					}
				}
			},
			{
				"name": "Prevent Delete from failing when folder is empty",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ContentGroupsCsvDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ContentGroupsPagesFolderDataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "content_groups"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}