pipeline/ExtractMonthlyAnalyticsExternalReferringDomainMetricsByGroupId.json
{
	"name": "ExtractMonthlyAnalyticsExternalReferringDomainMetricsByGroupId",
	"properties": {
		"activities": [
			{
				"name": "LookupAnalyticsGroups",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AnalyticsGroupsCsvDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "AnalyticsGroup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupAnalyticsGroups",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupAnalyticsGroups').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 30,
					"activities": [
						{
							"name": "ExecuteExtractByGroupId",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExtractMonthlyAnalyticsExternalReferringDomainMetricsByParameters",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Period": {
										"value": "@pipeline().parameters.Period",
										"type": "Expression"
									},
									"AnalyticsGroupId": {
										"value": "@{item().id}",
										"type": "Expression"
									},
									"QueryString": {
										"value": "period=@{pipeline().parameters.Period}&group_id=@{item().id}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Period": {
				"type": "string"
			}
		},
		"folder": {
			"name": "analytics"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}