pipeline/ExtractAnalyticsGroupsAnalyticsPages.json
{
	"name": "ExtractAnalyticsGroupsAnalyticsPages",
	"properties": {
		"activities": [
			{
				"name": "LookupAnalyticsGroups",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DeleteAnalyticsGroupsAnalyticsPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AnalyticsGroupsCsvDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachAnalyticsGroupExtractAnalyticsPages",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupAnalyticsGroups",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupAnalyticsGroups').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ExtractAnalyticsGroupsAnalyticsPages",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "analytics_group_id",
											"value": {
												"value": "@{item().id}",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"AbsoluteUrl": "$.links.next.href"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "analytics_page_id",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['analytics_group_id']"
											},
											"sink": {
												"name": "analytics_group_id",
												"type": "Int64"
											}
										}
									],
									"collectionReference": "$['items']"
								}
							},
							"inputs": [
								{
									"referenceName": "AnalyticsGroupsAnalyticsPagesRestDataset",
									"type": "DatasetReference",
									"parameters": {
										"QueryString": {
											"value": "group_id=@{item().id}&period=20200203_@{convertFromUtc(adddays(utcnow(), -1), 'Eastern Standard Time', 'yyyyMMdd')}&page=1&page_size=1000",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AnalyticsGroupsAnalyticsPagesCsvDataset",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "analytics_group_@{item().id}_analytics_page_ids.csv",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "DeleteAnalyticsGroupsAnalyticsPages",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Prevent Delete from failing when folder is empty",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AnalyticsGroupsAnalyticsPagesFolderDataset",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "Prevent Delete from failing when folder is empty",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AnalyticsGroupsCsvDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AnalyticsGroupsAnalyticsPagesCsvDataset",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "filler.csv"
						}
					}
				]
			}
		],
		"folder": {
			"name": "analytics"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}