pipeline/ExtractAnalyticsDatasets.json
{
	"name": "ExtractAnalyticsDatasets",
	"properties": {
		"activities": [
			{
				"name": "LookupDateRangePeriods",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ExtractAnalyticsGroups",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ExtractAnalyticsFilters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFileName": "date_range_periods.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "RootFolderDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DateRangePeriod",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupDateRangePeriods",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupDateRangePeriods').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ExecuteExtractAnalyticsDatasetsByDateRange",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExtractAnalyticsDatasetsByDateRangePeriod",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Period": {
										"value": "@{item().date_range_period}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ExtractAnalyticsGroups",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateDateRangePeriods",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GenerateDatePeriods",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"AbsoluteUrl": "$.links.next.href"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "id",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['bounce_rate']"
								},
								"sink": {
									"name": "bounce_rate",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['group_name']"
								},
								"sink": {
									"name": "group_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['page_views']"
								},
								"sink": {
									"name": "page_views",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['visits']"
								},
								"sink": {
									"name": "visits",
									"type": "Int64"
								}
							}
						],
						"collectionReference": "$['items']"
					}
				},
				"inputs": [
					{
						"referenceName": "AnalyticsGroupsRestDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AnalyticsGroupsCsvDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ExtractAnalyticsFilters",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateDateRangePeriods",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GenerateDatePeriods",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"AbsoluteUrl": "$.links.next.href"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "id"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "name"
								}
							}
						],
						"collectionReference": "$['items']"
					}
				},
				"inputs": [
					{
						"referenceName": "AnalyticsFiltersRestDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AnalyticsFiltersCsvDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ExecuteExtractAnalyticsCountryMetricsByDatePeriod",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DateRangePeriod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsCountryMetricsByDatePeriod",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractAnalyticsRegionMetricsByDatePeriod",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsCountryMetricsByDatePeriod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsRegionMetricsByDatePeriod",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractAnalyticsPageMetricsByDatePeriod_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsRegionMetricsByDatePeriod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsPageMetricsByDatePeriod",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "GenerateDatePeriods",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[web_analytics].[generate_date_periods]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "date_period",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "date_period",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "StoredProcedureSqlDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DatePeriodsCsvDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GenerateDateRangePeriods",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[web_analytics].[generate_date_range_periods]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "date_range_period",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "date_range_period",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "StoredProcedureSqlDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DateRangePeriodsCsvDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ExtractAnalyticsPages",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsPageMetricsByDatePeriod_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"AbsoluteUrl": "$.links.next.href"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "id",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['title']"
								},
								"sink": {
									"name": "title",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['url']"
								},
								"sink": {
									"name": "url",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['average_page_views_per_visit']"
								},
								"sink": {
									"name": "average_page_views_per_visit",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['bounce_rate']"
								},
								"sink": {
									"name": "bounce_rate",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['page_views']"
								},
								"sink": {
									"name": "page_views",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['visits']"
								},
								"sink": {
									"name": "visits",
									"type": "Int32"
								}
							}
						],
						"collectionReference": "$['items']"
					}
				},
				"inputs": [
					{
						"referenceName": "AnalyticsPagesRestDataset",
						"type": "DatasetReference",
						"parameters": {
							"Period": {
								"value": "20200203_@{convertFromUtc(adddays(utcnow(), -1), 'Eastern Standard Time', 'yyyyMMdd')}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AnalyticsPagesCsvDataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "analytics"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}