pipeline/ExtractAnalyticsHistoricalMetrics.json
{
	"name": "ExtractAnalyticsHistoricalMetrics",
	"properties": {
		"activities": [
			{
				"name": "LookupDateRangePeriods",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[web_analytics].[generate_date_range_periods]",
						"storedProcedureParameters": {
							"endDate": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.EndDate",
									"type": "Expression"
								}
							},
							"startDate": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StartDate",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DateRangePeriod",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupDateRangePeriods",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupDateRangePeriods').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ExecuteExtractAnalyticsHistoricalMetricsByPeriod",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExtractAnalyticsHistoricalMetricsByPeriod",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Period": {
										"value": "@{item().date_range_period}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"StartDate": {
				"type": "string"
			},
			"EndDate": {
				"type": "string"
			}
		},
		"folder": {
			"name": "analytics"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}