pipeline/ExtractAnalyticsHistoricalMetricsByGroupId.json
{
	"name": "ExtractAnalyticsHistoricalMetricsByGroupId",
	"properties": {
		"activities": [
			{
				"name": "LookupAnalyticsGroups",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AnalyticsGroupsCsvDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "AnalyticsGroup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupAnalyticsGroups",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupAnalyticsGroups').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "ExtractAnalyticsHistoricalMetrics",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "analytics_group_id",
											"value": {
												"value": "@{item().id}",
												"type": "Expression"
											}
										},
										{
											"name": "analytics_filter_id",
											"value": "1"
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"AbsoluteUrl": "$.links.next.href"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['bounce_rate']"
											},
											"sink": {
												"name": "bounce_rate",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['new_visitors']"
											},
											"sink": {
												"name": "new_visitors",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "['page_views']"
											},
											"sink": {
												"name": "page_views",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "['returning_visitors']"
											},
											"sink": {
												"name": "returning_visitors",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "['timestamp']"
											},
											"sink": {
												"name": "timestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['unique_visitors']"
											},
											"sink": {
												"name": "unique_visitors",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "['visits']"
											},
											"sink": {
												"name": "visits",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['analytics_group_id']"
											},
											"sink": {
												"name": "analytics_group_id",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['analytics_filter_id']"
											},
											"sink": {
												"name": "analytics_filter_id",
												"type": "Int64"
											}
										}
									],
									"collectionReference": "$['items']"
								}
							},
							"inputs": [
								{
									"referenceName": "AnalyticsHistoricalMetricsRestDataset",
									"type": "DatasetReference",
									"parameters": {
										"QueryString": {
											"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}&group_id=@{item().id}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AnalyticsHistoricalMetricsByGroupIdPeriodCsvDataset",
									"type": "DatasetReference",
									"parameters": {
										"Period": {
											"value": "@{pipeline().parameters.Period}",
											"type": "Expression"
										},
										"FileName": {
											"value": "analytics_group_@{item().id}.csv",
											"type": "Expression"
										},
										"GroupId": {
											"value": "@item().id",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ExecuteExtractByGroupIdFilterId",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ExtractAnalyticsHistoricalMetrics",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExtractAnalyticsHistoricalMetricsByGroupIdFilterId",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									},
									"GroupId": {
										"value": "@{item().id}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Period": {
				"type": "string"
			}
		},
		"folder": {
			"name": "analytics"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}