pipeline/FullRefresh.json
{
	"name": "FullRefresh",
	"properties": {
		"activities": [
			{
				"name": "ExecuteGeneratePeriodParameters",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "GeneratePeriodParameters",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "LookupDateRangePeriods",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsGroupsAnalyticsPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFileName": "date_range_periods.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "RootFolderDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DateRangePeriod",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupDateRangePeriods",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupDateRangePeriods').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExecuteExtractAnalyticsByDateRangePeriod",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExtractAnalyticsDatasetsByDateRangePeriod",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"DateRangePeriod": {
										"value": "@{item().date_range_period}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ExecuteExtractAnalyticsCountryMetrics",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteGeneratePeriodParameters",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ExecuteExtractAnalyticsGroupsFiltersDatasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsCountryMetrics",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractAnalyticsRegionMetrics",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsCountryMetrics",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsRegionMetrics",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractAnalyticsPageMetrics",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsRegionMetrics",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsPageMetrics",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractAnalyticsPages",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsPageMetrics",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsPages",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractAnalyticsGroupsAnalyticsPages",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteExtractAnalyticsPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsGroupsAnalyticsPages",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteExtractAnalyticsGroupsFiltersDatasets",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsGroupsAndFiltersDatasets",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"annotations": []
	}
}