pipeline/RebuildAnalyticsGroupsAnalyticsPages.json
{
	"name": "RebuildAnalyticsGroupsAnalyticsPages",
	"properties": {
		"activities": [
			{
				"name": "GenerateDateRangePeriods",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[web_analytics].[generate_date_range_periods]",
						"storedProcedureParameters": {
							"endDate": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.EndDate",
									"type": "Expression"
								}
							},
							"startDate": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StartDate",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DateRangePeriod",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GenerateDateRangePeriods",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "RawFolderExists",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupAnalyticsGroups",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ConsolidatedFolderExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GenerateDateRangePeriods').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExtractAnalyticsGroupsAnalyticsPagesByPeriod",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExtractAnalyticsGroupsAnalyticsPagesByGroupIdsPeriod",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Period": {
										"value": "@{item().date_range_period}",
										"type": "Expression"
									},
									"GroupIds": {
										"value": "@activity('LookupAnalyticsGroups').output.value",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "RawFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AnalyticsGroupsAnalyticsPagesRawFolderCsvDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "RawFolderExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "RawFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('RawFolder').output.exists, true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DeleteRawFolder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "AnalyticsGroupsAnalyticsPagesRawFolderCsvDataset",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			},
			{
				"name": "LookupAnalyticsGroups",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AnalyticsGroupsCsvDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DedupAnalyticsGroupsAnalyticsPages",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "DateRangePeriod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DedupAnalyticsGroupsAnalyticsPages",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ConsolidatedFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AnalyticsGroupsAnalyticsPagesConsolidatedFolderCsvDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ConsolidatedFolderExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ConsolidatedFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('ConsolidatedFolder').output.exists, true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DeleteConsolidatedFolder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "AnalyticsGroupsAnalyticsPagesConsolidatedFolderCsvDataset",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"StartDate": {
				"type": "string"
			},
			"EndDate": {
				"type": "string"
			}
		},
		"folder": {
			"name": "analytics"
		},
		"annotations": []
	}
}