pipeline/RefreshAnalyticsHistoricalMetricsByPeriod.json
{
	"name": "RefreshAnalyticsHistoricalMetricsByPeriod",
	"properties": {
		"activities": [
			{
				"name": "PeriodFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AnalyticsHistoricalMetricsByPeriodFolderDataset",
						"type": "DatasetReference",
						"parameters": {
							"Period": {
								"value": "@pipeline().parameters.Period",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "PeriodFolderExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "PeriodFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('PeriodFolder').output.exists, true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DeletePeriodFolder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "AnalyticsHistoricalMetricsByPeriodFolderDataset",
									"type": "DatasetReference",
									"parameters": {
										"Period": {
											"value": "@pipeline().parameters.Period",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			},
			{
				"name": "LookupAnalyticsGroups",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AnalyticsGroupsCsvDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "AnalyticsGroup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupAnalyticsGroups",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ExtractByPeriod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupAnalyticsGroups').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ExtractByGroupIdPeriod",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExtractAnalyticsHistoricalMetricsByGroupIdPeriod",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"GroupId": {
										"value": "@item().id",
										"type": "Expression"
									},
									"Period": {
										"value": "@pipeline().parameters.Period",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LookupAnalyticsFilters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AnalyticsFiltersCsvDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "AnalyticsFilter",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "AnalyticsGroup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupAnalyticsFilters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupAnalyticsFilters').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ExtractByFilterIdPeriod",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExtractAnalyticsHistoricalMetricsByParameters",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"GroupId": "1",
									"FilterId": {
										"value": "@item().id",
										"type": "Expression"
									},
									"Period": {
										"value": "@pipeline().parameters.Period",
										"type": "Expression"
									},
									"QueryString": {
										"value": "filter_id=@{item().id}&period=@{pipeline().parameters.Period}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ExtractByPeriod",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PeriodFolderExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsHistoricalMetricsByParameters",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"GroupId": "1",
						"FilterId": "1",
						"Period": {
							"value": "@pipeline().parameters.Period",
							"type": "Expression"
						},
						"QueryString": {
							"value": "period=@{pipeline().parameters.Period}",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Period": {
				"type": "string"
			}
		},
		"folder": {
			"name": "analytics"
		},
		"annotations": []
	}
}