pipeline/RefreshAnalyticsHistoricalMetricsByPeriod.json
{
	"name": "RefreshAnalyticsHistoricalMetricsByPeriod",
	"properties": {
		"activities": [
			{
				"name": "ExtractByPeriod",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "PeriodFolderExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "analytics_group_id",
								"value": "1"
							},
							{
								"name": "analytics_filter_id",
								"value": "1"
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['bounce_rate']"
								},
								"sink": {
									"name": "bounce_rate",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['new_visitors']"
								},
								"sink": {
									"name": "new_visitors",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['page_views']"
								},
								"sink": {
									"name": "page_views",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['returning_visitors']"
								},
								"sink": {
									"name": "returning_visitors",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['timestamp']"
								},
								"sink": {
									"name": "timestamp",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['unique_visitors']"
								},
								"sink": {
									"name": "unique_visitors",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['visits']"
								},
								"sink": {
									"name": "visits",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['analytics_group_id']"
								},
								"sink": {
									"name": "analytics_group_id",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['analytics_filter_id']"
								},
								"sink": {
									"name": "analytics_filter_id",
									"type": "Int64"
								}
							}
						],
						"collectionReference": "$['items']"
					}
				},
				"inputs": [
					{
						"referenceName": "AnalyticsHistoricalMetricsRestDataset",
						"type": "DatasetReference",
						"parameters": {
							"QueryString": {
								"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AnalyticsHistoricalMetricsByGroupIdPeriodCsvDataset",
						"type": "DatasetReference",
						"parameters": {
							"Period": {
								"value": "@{pipeline().parameters.Period}",
								"type": "Expression"
							},
							"FileName": "analytics_group_1_analytics_filter_1.csv",
							"GroupId": "1"
						}
					}
				]
			},
			{
				"name": "ExtractByPeriodGroupId",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExtractByPeriod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsHistoricalMetricsByGroupId",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Period": {
							"value": "@{pipeline().parameters.Period}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExtractByPeriodFilterId",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExtractByPeriodGroupId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractAnalyticsHistoricalMetricsByFilterId",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Period": {
							"value": "@{pipeline().parameters.Period}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "PeriodFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AnalyticsHistoricalMetricsByPeriodFolderDataset",
						"type": "DatasetReference",
						"parameters": {
							"Period": {
								"value": "@pipeline().parameters.Period",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "PeriodFolderExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "PeriodFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('PeriodFolder').output.exists, true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DeletePeriodFolder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "AnalyticsHistoricalMetricsByPeriodFolderDataset",
									"type": "DatasetReference",
									"parameters": {
										"Period": {
											"value": "@pipeline().parameters.Period",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Period": {
				"type": "string"
			}
		},
		"folder": {
			"name": "analytics"
		},
		"annotations": []
	}
}