pipeline/RefreshByDateRangePeriod.json
{
	"name": "RefreshByDateRangePeriod",
	"properties": {
		"activities": [
			{
				"name": "LookupDateRangePeriods",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFileName": "date_range_periods.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "RootFolderDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DateRangePeriod",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupDateRangePeriods",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupDateRangePeriods').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExecuteExtractAnalyticsByDateRangePeriod",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExtractAnalyticsDatasetsByDateRangePeriod",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"DateRangePeriod": {
										"value": "@{item().date_range_period}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}