ItaWebAnalyticsDataFactory/PartialArmTemplates/ArmTemplate_3_3_2021_23_17_28.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ItaWebAnalyticsDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsGroupsAnalyticsPagesByGroupsPeriod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AnalyticsGroup",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.AnalyticsGroups",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "AnalyticsGroupsAnalyticsPagesByGroupIdPeriod",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 60,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "analytics_group_id",
													"value": {
														"value": "@item().id",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.links.next.href"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['analytics_group_id']"
													},
													"sink": {
														"name": "analytics_group_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "analytics_page_id",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['items']"
										}
									},
									"inputs": [
										{
											"referenceName": "AnalyticsGroupsAnalyticsPagesRestDataset",
											"type": "DatasetReference",
											"parameters": {
												"QueryString": {
													"value": "group_id=@{item().id}&period=@{pipeline().parameters.Period}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsGroupsAnalyticsPagesByGroupIdPeriodCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"AnalyticsGroupId": {
													"value": "@item().id",
													"type": "Expression"
												},
												"Period": {
													"value": "@pipeline().parameters.Period",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					},
					"AnalyticsGroups": {
						"type": "array"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AnalyticsGroupsAnalyticsPagesByGroupIdPeriodCsvDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsGroupsAnalyticsPagesByPeriod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RawFolder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Stage": "raw"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "RawFolderExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "RawFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('RawFolder').output.exists, true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "DeleteRawFolder",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Stage": "raw"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "LookupAnalyticsGroups",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ConsolidatedFolder",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "RawFolderExists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Stage": "consolidated"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ConsolidatedFolderExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ConsolidatedFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('ConsolidatedFolder').output.exists, true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "CopyConsolidatedToRaw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false,
												"prefix": "analytics_groups_analytics_pages/consolidated/"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "RootFolderDataset",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Stage": "raw"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "ExtractAnalyticsGroupsAnalyticsPagesByGroupsPeriod",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ConsolidatedFolderExists",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupAnalyticsGroups",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "StagingFolderExists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsGroupsAnalyticsPagesByGroupsPeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.Period",
									"type": "Expression"
								},
								"AnalyticsGroups": {
									"value": "@activity('LookupAnalyticsGroups').output.value",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "StagingFolder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Stage": "staging"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "StagingFolderExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "StagingFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('StagingFolder').output.exists, true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "DeleteStagingFolder",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Stage": "staging"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset')]",
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsGroupsAnalyticsPagesByGroupsPeriod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractDailyRefreshAnalyticsDatasetsByDatePeriod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteExtractAnalyticsCountryMetrics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsPageMetricsByPeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsCountryMetricsByPeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.DatePeriod",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteExtractAnalyticsRegionMetrics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsCountryMetrics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsRegionMetricsByPeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.DatePeriod",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteExtractAnalyticsPageMetricsByPeriod",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExtractAnalyticsGroupsAnalyticsPagesByPeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsPageMetricsByPeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.DatePeriod",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "UpdateNewAnalyticsPages",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsPageMetricsByPeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_page_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "average_page_views_per_visit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "average_page_views_per_visit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "bounce_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "bounce_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "page_views",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "page_views",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "visits",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "visits",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsPageMetricsByPeriodCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@pipeline().parameters.DatePeriod",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "NewAnalyticsPagesCsvDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ExtractAnalyticsGroupsAnalyticsPagesByPeriod",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsGroupsAnalyticsPagesByPeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.DatePeriod",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PostProcessAnalyticsGroupsAnalyticsPages",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "UpdateNewAnalyticsPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PostProcessAnalyticsGroupsAnalyticsPages",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"concurrency": 1,
				"parameters": {
					"DatePeriod": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsGroupsAnalyticsPagesByPeriod')]",
				"[concat(variables('factoryId'), '/pipelines/PostProcessAnalyticsGroupsAnalyticsPages')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostProcessAnalyticsGroupsAnalyticsPages')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DedupAnalyticsGroupsAnalyticsPages",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DedupAnalyticsGroupsAnalyticsPages",
								"type": "DataFlowReference",
								"datasetParameters": {
									"RawAnalyticsGroupsAnalyticsPages": {
										"Stage": "raw"
									},
									"DedupedAnalyticsGroupsAnalyticsPages": {
										"Stage": "staging"
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ConsolidatedFolder",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "DedupAnalyticsGroupsAnalyticsPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Stage": "consolidated"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ConsolidatedFolderExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ConsolidatedFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('ConsolidatedFolder').output.exists, true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "DeleteConsolidatedFolder",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Stage": "consolidated"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "CopyFromStagingToConsolidated",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ConsolidatedFolderExists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"prefix": "analytics_groups_analytics_pages/staging/"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Stage": "consolidated"
								}
							}
						]
					}
				],
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DedupAnalyticsGroupsAnalyticsPages')]",
				"[concat(variables('factoryId'), '/datasets/AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RefreshAnalyticsGroupsAnalyticsPages')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GenerateDateRangePeriods",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[web_analytics].[generate_date_range_periods]",
								"storedProcedureParameters": {
									"endDate": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.EndDate",
											"type": "Expression"
										}
									},
									"startDate": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.StartDate",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlDataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "DateRangePeriod",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GenerateDateRangePeriods",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "RawFolderExists",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupAnalyticsGroups",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "StagingFolderExists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GenerateDateRangePeriods').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "ExtractAnalyticsGroupsAnalyticsPagesByGroupsPeriod",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ExtractAnalyticsGroupsAnalyticsPagesByGroupsPeriod",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Period": {
												"value": "@{item().date_range_period}",
												"type": "Expression"
											},
											"AnalyticsGroups": {
												"value": "@activity('LookupAnalyticsGroups').output.value",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "RawFolder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Stage": "raw"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "RawFolderExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "RawFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('RawFolder').output.exists, true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "DeleteRawFolder",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Stage": "raw"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "LookupAnalyticsGroups",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "StagingFolder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Stage": "staging"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "StagingFolderExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "StagingFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('StagingFolder').output.exists, true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "DeleteStagingFolder",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Stage": "staging"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "PostProcessAnalyticsGroupsAnalyticsPages",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DateRangePeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PostProcessAnalyticsGroupsAnalyticsPages",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"parameters": {
					"StartDate": {
						"type": "string"
					},
					"EndDate": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset')]",
				"[concat(variables('factoryId'), '/pipelines/PostProcessAnalyticsGroupsAnalyticsPages')]",
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsGroupsAnalyticsPagesByGroupsPeriod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ResetAnalyticsGroupsAnalyticsPagesByGroupsPeriods')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RawFolder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Stage": "raw"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "RawFolderExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "RawFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('RawFolder').output.exists, true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "DeleteRawFolder",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Stage": "raw"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "ConsolidatedFolder",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "RawFolderExists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Stage": "staging"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ConsolidatedFolderExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ConsolidatedFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('ConsolidatedFolder').output.exists, true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "CopyConsolidatedToRaw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false,
												"prefix": "analytics_groups_analytics_pages/consolidated/"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "RootFolderDataset",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Stage": "raw"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "StagingFolder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Stage": "raw"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "StagingFolderExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "StagingFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('StagingFolder').output.exists, true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "DeleteStagingFolder",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Stage": "staging"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "AnalyticsGroup",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ConsolidatedFolderExists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.AnalyticsGroups",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "AnalyticsGroupsAnalyticsPagesRawByGroupId",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "Set analyticsGroupId",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "AnalyticsGroupsAnalyticsPagesStageCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"AnalyticsGroupId": {
													"value": "@variables('analyticsGroupId')",
													"type": "Expression"
												},
												"Stage": "raw"
											}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Set analyticsGroupId",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "analyticsGroupId",
										"value": {
											"value": "@item().id",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AnalyticsGroupsAnalyticsPagesRawByGroupIdExists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "AnalyticsGroupsAnalyticsPagesRawByGroupId",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('AnalyticsGroupsAnalyticsPagesRawByGroupId').output.exists, true)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "DeleteAnalyticsGroupsAnalyticsPagesRawByGroupId",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "AnalyticsGroupsAnalyticsPagesStageCsvDataset",
														"type": "DatasetReference",
														"parameters": {
															"AnalyticsGroupId": {
																"value": "@variables('analyticsGroupId')",
																"type": "Expression"
															},
															"Stage": "raw"
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "DateRangePeriod",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "AnalyticsGroup",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "StagingFolderExists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.DateRangePeriods",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "ExtractAnalyticsGroupsAnalyticsPagesByGroupsPeriod",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ExtractAnalyticsGroupsAnalyticsPagesByGroupsPeriod",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Period": {
												"value": "@{item().date_range_period}",
												"type": "Expression"
											},
											"AnalyticsGroups": {
												"value": "@pipeline().parameters.AnalyticsGroups",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "PostProcessAnalyticsGroupsAnalyticsPages",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DateRangePeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PostProcessAnalyticsGroupsAnalyticsPages",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"parameters": {
					"AnalyticsGroups": {
						"type": "array"
					},
					"DateRangePeriods": {
						"type": "array"
					}
				},
				"variables": {
					"analyticsGroupId": {
						"type": "String"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset')]",
				"[concat(variables('factoryId'), '/pipelines/PostProcessAnalyticsGroupsAnalyticsPages')]",
				"[concat(variables('factoryId'), '/datasets/AnalyticsGroupsAnalyticsPagesStageCsvDataset')]",
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsGroupsAnalyticsPagesByGroupsPeriod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AnalyticsGroupsAnalyticsPagesByGroupIdPeriodCsvDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"AnalyticsGroupId": {
						"type": "string"
					},
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@{dataset().Period}.csv",
							"type": "Expression"
						},
						"folderPath": {
							"value": "analytics_groups_analytics_pages/raw/@{dataset().AnalyticsGroupId}",
							"type": "Expression"
						},
						"container": "ita-web-analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AnalyticsGroupsAnalyticsPagesStageCsvDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"AnalyticsGroupId": {
						"type": "string"
					},
					"Stage": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@{dataset().AnalyticsGroupId}.csv",
							"type": "Expression"
						},
						"folderPath": {
							"value": "analytics_groups_analytics_pages/@{dataset().Stage}",
							"type": "Expression"
						},
						"container": "ita-web-analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "analytics_page_id",
						"type": "String"
					},
					{
						"name": "analytics_group_id",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Stage": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "analytics_groups_analytics_pages/@{dataset().Stage}",
							"type": "Expression"
						},
						"container": "ita-web-analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "analytics_page_id",
						"type": "String"
					},
					{
						"name": "analytics_group_id",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SiteImproveDailyTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "RefreshSiteImprove",
							"type": "PipelineReference"
						},
						"parameters": {
							"Period": "yesterday"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-02-02T00:00:00",
						"timeZone": "Eastern Standard Time",
						"schedule": {
							"hours": [
								5
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DedupAnalyticsGroupsAnalyticsPages')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AnalyticsPagesCsvDataset",
								"type": "DatasetReference"
							},
							"name": "AllAnalyticsPages"
						},
						{
							"dataset": {
								"referenceName": "NewAnalyticsPagesCsvDataset",
								"type": "DatasetReference"
							},
							"name": "NewAnalyticsPages"
						},
						{
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference"
							},
							"name": "RawAnalyticsGroupsAnalyticsPages"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							},
							"name": "DedupedAnalyticsPages"
						},
						{
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset",
								"type": "DatasetReference"
							},
							"name": "DedupedAnalyticsGroupsAnalyticsPages"
						}
					],
					"transformations": [
						{
							"name": "Consolidate"
						},
						{
							"name": "RemoveDuplicates"
						},
						{
							"name": "RemoveDuplicateAnalyticsGroupsAnalyticsPages"
						},
						{
							"name": "AddOutputFilePathColumn"
						}
					],
					"script": "source(output(\n\t\tid as long,\n\t\ttitle as string,\n\t\turl as string,\n\t\taverage_page_views_per_visit as double,\n\t\tbounce_rate as double,\n\t\tpage_views as integer,\n\t\tvisits as integer,\n\t\tdate as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> AllAnalyticsPages\nsource(output(\n\t\tid as long,\n\t\ttitle as string,\n\t\turl as string,\n\t\taverage_page_views_per_visit as double,\n\t\tbounce_rate as double,\n\t\tpage_views as integer,\n\t\tvisits as integer,\n\t\tdate as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> NewAnalyticsPages\nsource(output(\n\t\tanalytics_group_id as string,\n\t\tanalytics_page_id as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:[(\"analytics_groups_analytics_pages/raw/**/*.csv\")]) ~> RawAnalyticsGroupsAnalyticsPages\nAllAnalyticsPages, NewAnalyticsPages union(byName: true)~> Consolidate\nConsolidate aggregate(groupBy(id),\n\teach(match(name!='id'), $$ = last($$))) ~> RemoveDuplicates\nRawAnalyticsGroupsAnalyticsPages aggregate(groupBy(analytics_group_id,\n\t\tanalytics_page_id),\n\tcount = count()) ~> RemoveDuplicateAnalyticsGroupsAnalyticsPages\nRemoveDuplicateAnalyticsGroupsAnalyticsPages derive(outputFilePath = \"analytics_groups_analytics_pages/staging/{analytics_group_id}.csv\") ~> AddOutputFilePathColumn\nRemoveDuplicates sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['analytics_pages.csv'],\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DedupedAnalyticsPages\nAddOutputFilePathColumn sink(input(\n\t\tanalytics_page_id as string,\n\t\tanalytics_group_id as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'outputFilePath',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DedupedAnalyticsGroupsAnalyticsPages"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AnalyticsGroupsAnalyticsPagesStageFolderCsvDataset')]"
			]
		}
	]
}