ItaWebAnalyticsDataFactory/PartialArmTemplates/ArmTemplate_1_3_2021_19_0_49.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ItaWebAnalyticsDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ContinuousRefresh')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteLoadAnalyticsRelatedDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsDatasetsByDatePeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadAnalyticsRelatedDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "ExecuteExtractAnalyticsGroups",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractContentPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsGroups",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "ExecuteExtractAnalyticsDatasetsByDateRangePeriod",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsGroups",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsDatasetsByDateRangePeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DateRangePeriod": {
									"value": "@variables('DateRangePeriod')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteExtractAnalyticsDatasetsByDatePeriod",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsDatasetsByDateRangePeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsDatasetsByDatePeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DatePeriod": {
									"value": "@convertFromUtc(addDays(utcNow(), -1), 'Eastern Standard Time', 'yyyyMMdd')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteExtractQualityAssuranceDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "If first day of the month",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractQualityAssuranceDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "ExecuteLoadQualityAssuranceDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractQualityAssuranceDatasets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadQualityAssuranceDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "ExecuteExtractContentPages",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractQualityAssuranceDatasets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractContentPages",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "ExecuteLoadContentDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractContentPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadContentDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "If first day of the month",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(dayOfMonth(convertFromUtc(utcNow(), 'Eastern Standard Time', 's')), 1)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set DateRange to current month range",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "LookupDateRangePeriod",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "DateRangePeriod",
										"value": {
											"value": "@activity('LookupDateRangePeriod').output.firstRow.DateRangePeriod",
											"type": "Expression"
										}
									}
								},
								{
									"name": "LookupDateRangePeriod",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "SELECT CONCAT(CONVERT(char(8), DATEADD(DAY,1,EOMONTH(GETDATE(),-1)), 112), '_', CONVERT(char(80), EOMONTH(GETDATE()), 112)) AS DateRangePeriod",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SqlDataset",
											"type": "DatasetReference"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "LookupLastMonthDateRangePeriod",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "SELECT CONCAT(CONVERT(char(8), DATEADD(MONTH, -1, GETDATE()), 112), '_', CONVERT(char(8), EOMONTH(GETDATE(), -1), 112)) AS DateRangePeriod",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SqlDataset",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Set DateRange to last month range",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "LookupLastMonthDateRangePeriod",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "DateRangePeriod",
										"value": {
											"value": "@activity('LookupLastMonthDateRangePeriod').output.firstRow.DateRangePeriod",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"concurrency": 1,
				"variables": {
					"DateRangePeriod": {
						"type": "String"
					},
					"DayOfMonth": {
						"type": "String"
					},
					"Now": {
						"type": "String"
					},
					"YYYYmmdd": {
						"type": "String"
					},
					"LastMonthRange": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LoadAnalyticsRelatedDatasets')]",
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsDatasetsByDateRangePeriod')]",
				"[concat(variables('factoryId'), '/datasets/SqlDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsDatasetsByDateRangePeriod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteExtractAnalyticsBrowsersMetricsByPeriod",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsBrowsersMetricsByPeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.DateRangePeriod",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteTransformAnalyticsBrowsersByPeriod",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsBrowsersMetricsByPeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TransformAnalyticsBrowsersMetricsByPeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.DateRangePeriod",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteExtractAnalyticsHistoricalMetricsByPeriod",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsBrowsersMetricsByPeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsHistoricalMetricsByPeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.DateRangePeriod",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteExtractAnalyticsTrafficSourcesMetricsByPeriod",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsHistoricalMetricsByPeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsTrafficSourcesMetricsByPeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.DateRangePeriod",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteExtractAnalyticsVisitLengthMetricsByPeriod",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsTrafficSourcesMetricsByPeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsVisitLengthMetricsByPeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.DateRangePeriod",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteExtractMonthlyAnalyticsHistoricalMetrics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsVisitLengthMetricsByPeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractMonthlyAnalyticsHistoricalMetrics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "ExecuteExtractMonthlyAnalyticsOutboundLinkMetrics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractMonthlyAnalyticsHistoricalMetrics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractMonthlyAnalyticsOutboundLinkMetrics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "ExtractMonthlyAnalyticsExternalReferringDomainMetrics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractMonthlyAnalyticsOutboundLinkMetrics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractMonthlyAnalyticsExternalReferringDomainMetricsByPeriod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.DateRangePeriod",
									"type": "Expression"
								}
							}
						}
					}
				],
				"concurrency": 1,
				"parameters": {
					"DateRangePeriod": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsPageRelatedDatasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteExtractAnalyticsPageMetrics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GenerateAnalyticsEventTrackingMetricsDatePeriods",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsPageMetrics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "ExecuteExtractAnalyticsPages",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsPageMetrics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsPages",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "ExecuteExtractAnalyticsGroupsAnalyticsPages",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsGroupsAnalyticsPages",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "ExecuteExtractAnalyticsEventTrackingMetrics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsGroupsAnalyticsPages",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GenerateAnalyticsEventTrackingMetricsDatePeriods",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsEventTrackingMetrics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "GenerateAnalyticsEventTrackingMetricsDatePeriods",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[web_analytics].[generate_date_periods]",
								"storedProcedureParameters": {
									"initial_date": {
										"type": "String",
										"value": "20200309"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date_period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date_period",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "EventTrackingDatePeriodsCsvDataset",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GeneratePeriodParameters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GenerateDatePeriods",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[web_analytics].[generate_date_periods]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date_period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date_period",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DatePeriodsCsvDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "GenerateDateRangePeriods",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[web_analytics].[generate_date_range_periods]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date_range_period",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "date_range_period",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DateRangePeriodsCsvDataset",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadAnalyticsRelatedDatasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoadAnalyticsGroups",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [web_analytics].[analytics_groups]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "group_name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsGroupsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadAnalyticsFilters",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [web_analytics].[analytics_filters]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsFiltersCsvDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsFiltersSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadAnalyticsTrafficSourcesMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "analytics_traffic_sources_metrics",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_traffic_sources_metrics]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "analytics_filter_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_filter_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "direct_traffic",
											"type": "String"
										},
										"sink": {
											"name": "direct_traffic",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "external_referrer",
											"type": "String"
										},
										"sink": {
											"name": "external_referrer",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "search_domain",
											"type": "String"
										},
										"sink": {
											"name": "search_domain",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "social_media",
											"type": "String"
										},
										"sink": {
											"name": "social_media",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsTrafficSourcesMetricsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadAnalyticsHistoricalMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "analytics_historical_metrics",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_historical_metrics]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "analytics_filter_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_filter_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "bounce_rate",
											"type": "String"
										},
										"sink": {
											"name": "bounce_rate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "page_views",
											"type": "String"
										},
										"sink": {
											"name": "page_views",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "visits",
											"type": "String"
										},
										"sink": {
											"name": "visits",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "new_visitors",
											"type": "String"
										},
										"sink": {
											"name": "new_visitors",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "returning_visitors",
											"type": "String"
										},
										"sink": {
											"name": "returning_visitors",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "unique_visitors",
											"type": "String"
										},
										"sink": {
											"name": "unique_visitors",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsHistoricalMetricsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadAnalyticsVisitLengthMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "analytics_visit_length_metrics",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_visit_length_metrics]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "analytics_filter_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_filter_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_duration_average_in_minutes",
											"type": "String"
										},
										"sink": {
											"name": "visit_duration_average_in_minutes",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsVisitLengthMetricsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadTransformedAnalyticsBrowsersMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "analytics_browsers_metrics/transformed",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_browsers_metrics]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "analytics_filter_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_filter_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "browser_name",
											"type": "String"
										},
										"sink": {
											"name": "browser_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visits",
											"type": "String"
										},
										"sink": {
											"name": "visits",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsBrowsersMetricsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadAnalyticsCountryMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "analytics_country_metrics",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_country_metrics]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "country_id",
											"type": "String"
										},
										"sink": {
											"name": "country_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "country_name",
											"type": "String"
										},
										"sink": {
											"name": "country_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "is_region",
											"type": "String"
										},
										"sink": {
											"name": "is_region",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "is_unknown",
											"type": "String"
										},
										"sink": {
											"name": "is_unknown",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "bounce_rate",
											"type": "String"
										},
										"sink": {
											"name": "bounce_rate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "visits",
											"type": "String"
										},
										"sink": {
											"name": "visits",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsCountryMetricsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadAnalyticsRegionMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "analytics_region_metrics",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_region_metrics]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "country_id",
											"type": "String"
										},
										"sink": {
											"name": "country_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "region_id",
											"type": "String"
										},
										"sink": {
											"name": "region_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String"
										},
										"sink": {
											"name": "region",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "is_unknown",
											"type": "String"
										},
										"sink": {
											"name": "is_unknown",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "bounce_rate",
											"type": "String"
										},
										"sink": {
											"name": "bounce_rate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "visits",
											"type": "String"
										},
										"sink": {
											"name": "visits",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsRegionMetricsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadAnalyticsPages",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_pages]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String"
										},
										"sink": {
											"name": "title",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String"
										},
										"sink": {
											"name": "url",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsPagesCsvDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsPagesSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadAnalyticsPageMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "analytics_page_metrics",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_page_metrics]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "analytics_page_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_page_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "average_page_views_per_visit",
											"type": "String"
										},
										"sink": {
											"name": "average_page_views_per_visit",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "bounce_rate",
											"type": "String"
										},
										"sink": {
											"name": "bounce_rate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "page_views",
											"type": "String"
										},
										"sink": {
											"name": "page_views",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "visits",
											"type": "String"
										},
										"sink": {
											"name": "visits",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderCustomEscapeDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsPageMetricsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadDefaultAnalyticsGroupAnalyticsPages",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "analytics_group_id",
										"value": "1"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_groups_analytics_pages]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_page_id",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsPagesCsvDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsGroupsAnalyticsPagesSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadAnalyticsGroupsAnalyticsPages",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LoadDefaultAnalyticsGroupAnalyticsPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "analytics_groups_analytics_pages",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "analytics_page_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_page_id",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsGroupsAnalyticsPagesFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsGroupsAnalyticsPagesSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadAnalyticsEventTrackingMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "analytics_event_tracking_metrics/consolidated",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_event_tracking_metrics]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_page_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_page_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category",
											"type": "String"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "action",
											"type": "String"
										},
										"sink": {
											"name": "action",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "label",
											"type": "String"
										},
										"sink": {
											"name": "label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "events",
											"type": "String"
										},
										"sink": {
											"name": "events",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsEventTrackingMetricsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadMonthlyAnalyticsOutboundLinkMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "monthly_analytics_outbound_link_metrics",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[monthly_analytics_outbound_link_metrics]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_outbound_link_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String"
										},
										"sink": {
											"name": "title",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String"
										},
										"sink": {
											"name": "url",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "pages",
											"type": "String"
										},
										"sink": {
											"name": "pages",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "visits",
											"type": "String"
										},
										"sink": {
											"name": "visits",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "MonthlyAnalyticsOutboundLinkMetricsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadMonthlyAnalyticsHistoricalMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "monthly_analytics_historical_metrics",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [web_analytics].[monthly_analytics_historical_metrics]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "bounce_rate",
											"type": "String"
										},
										"sink": {
											"name": "bounce_rate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "page_views",
											"type": "String"
										},
										"sink": {
											"name": "page_views",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "visits",
											"type": "String"
										},
										"sink": {
											"name": "visits",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "new_visitors",
											"type": "String"
										},
										"sink": {
											"name": "new_visitors",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "returning_visitors",
											"type": "String"
										},
										"sink": {
											"name": "returning_visitors",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "unique_visitors",
											"type": "String"
										},
										"sink": {
											"name": "unique_visitors",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "MonthlyAnalyticsHistoricalMetricsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LoadMonthlyExternalReferringDomain",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "monthly_analytics_external_referring_domain_metrics",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE web_analytics.monthly_analytics_external_referring_domain_metrics",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "analytics_external_domain_id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "external_referring_domain",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "external_referring_domain",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bounce_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "bounce_rate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 9
										}
									},
									{
										"source": {
											"name": "visits",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "visits",
											"type": "Int64",
											"physicalType": "bigint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "MonthlyAnalyticsExternalReferringDomainMetricsSqlDataset",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RefreshWhoIsVisiting')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteExtractVisitorFeedByDateRange",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "If DatePeriod equals yesterday",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractVisitorFeed",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DateFrom": {
									"value": "@variables('datePeriod')",
									"type": "Expression"
								},
								"DateTo": {
									"value": "@variables('datePeriod')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LoadSessions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ExecuteExtractVisitorFeedByDateRange",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "visitor_feed",
									"wildcardFileName": "*.json"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE web_analytics.visitor_sessions",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['visitorId']"
										},
										"sink": {
											"name": "visitor_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['sessionStart']"
										},
										"sink": {
											"name": "session_start",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['pageViews']"
										},
										"sink": {
											"name": "page_views",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['duration']"
										},
										"sink": {
											"name": "duration",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['source']"
										},
										"sink": {
											"name": "source",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['firstVisit']"
										},
										"sink": {
											"name": "first_visit",
											"type": "Boolean"
										}
									}
								],
								"collectionReference": "$['sessions']"
							}
						},
						"inputs": [
							{
								"referenceName": "RootJsonFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WivVisitorSessionsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ExecuteExtractVisitorDetails",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LoadSessions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractVisitorDetails",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "LoadVisitorDetails",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ExecuteExtractVisitorDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "visitor_details",
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE web_analytics.visitor_details",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['data']['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['data']"
										},
										"sink": {
											"name": "json",
											"type": "String"
										}
									}
								],
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "RootJsonFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WivVisitorDetailsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "If DatePeriod equals yesterday",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.DatePeriod, 'yesterday')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set datePeriod to parameter value",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "datePeriod",
										"value": {
											"value": "@pipeline().parameters.DatePeriod",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set datePeriod to yesterday",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "datePeriod",
										"value": {
											"value": "@{convertFromUtc(addDays(utcNow(), -1), 'Eastern Standard Time', 'yyyy-MM-dd')}",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"concurrency": 1,
				"parameters": {
					"DatePeriod": {
						"type": "string",
						"defaultValue": "yesterday"
					}
				},
				"variables": {
					"datePeriod": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WhoIsVisitingDailyTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "RefreshWhoIsVisiting",
							"type": "PipelineReference"
						},
						"parameters": {
							"DatePeriod": "yesterday"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-01-04T08:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								10
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RefreshWhoIsVisiting')]"
			]
		}
	]
}