ItaWebAnalyticsDataFactory/PartialArmTemplates/ArmTemplate_11_2_2020_19_2_23.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ItaWebAnalyticsDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ExtractVisitorFeed')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteExtractFirstPageOfVisitorFeed",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractVisitorFeedByParameters",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DateFrom": {
									"value": "@pipeline().parameters.DateFrom",
									"type": "Expression"
								},
								"DateTo": {
									"value": "@pipeline().parameters.DateTo",
									"type": "Expression"
								},
								"Page": "1"
							}
						}
					},
					{
						"name": "LookupCurrentPageResponse",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ExecuteExtractFirstPageOfVisitorFeed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "WivVisitorFeedJsonDataset",
								"type": "DatasetReference",
								"parameters": {
									"DateFrom": {
										"value": "@pipeline().parameters.DateFrom",
										"type": "Expression"
									},
									"DateTo": {
										"value": "@pipeline().parameters.DateTo",
										"type": "Expression"
									},
									"Page": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachPage",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SetPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('pages')",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "ExecuteExtractVisitorFeedByParameters",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ExtractVisitorFeedByParameters",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DateFrom": {
												"value": "@pipeline().parameters.DateFrom",
												"type": "Expression"
											},
											"DateTo": {
												"value": "@pipeline().parameters.DateTo",
												"type": "Expression"
											},
											"Page": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SetPages",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LookupCurrentPageResponse",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pages",
							"value": {
								"value": "@range(1,activity('LookupCurrentPageResponse').output.value[0].pagination.pagesCount)",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"DateFrom": {
						"type": "string"
					},
					"DateTo": {
						"type": "string"
					}
				},
				"variables": {
					"page": {
						"type": "String",
						"defaultValue": "1"
					},
					"test": {
						"type": "String"
					},
					"tempPage": {
						"type": "String"
					},
					"pages": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "wiv"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ExtractVisitorFeedByParameters')]",
				"[concat(variables('factoryId'), '/datasets/WivVisitorFeedJsonDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractVisitorFeedByParameters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExtractVisitorFeed",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "WivVisitorFeedRestDataset",
								"type": "DatasetReference",
								"parameters": {
									"QueryString": {
										"value": "limit=100&dateFrom=@{pipeline().parameters.DateFrom}&dateTo=@{pipeline().parameters.DateTo}&page=@{pipeline().parameters.Page}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "WivVisitorFeedJsonDataset",
								"type": "DatasetReference",
								"parameters": {
									"DateFrom": {
										"value": "@pipeline().parameters.DateFrom",
										"type": "Expression"
									},
									"DateTo": {
										"value": "@pipeline().parameters.DateTo",
										"type": "Expression"
									},
									"Page": {
										"value": "@pipeline().parameters.Page",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"concurrency": 10,
				"parameters": {
					"DateFrom": {
						"type": "string"
					},
					"DateTo": {
						"type": "string"
					},
					"Page": {
						"type": "string"
					}
				},
				"folder": {
					"name": "wiv"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WivVisitorFeedRestDataset')]",
				"[concat(variables('factoryId'), '/datasets/WivVisitorFeedJsonDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RefreshWhoIsVisiting')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupDateRangePeriods",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": "wiv_date_range_periods.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "DateRangePeriod",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupDateRangePeriods",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupDateRangePeriods').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "ExecuteExtractAnalyticsByDateRangePeriod",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ExtractVisitorFeed",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DateFrom": {
												"value": "@item().dateFrom",
												"type": "Expression"
											},
											"DateTo": {
												"value": "@item().dateTo",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "LoadSessions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DedupVisitors",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "visitor_feed",
									"wildcardFileName": "*.json"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE web_analytics.visitor_sessions",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['visitorId']"
										},
										"sink": {
											"name": "visitor_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['sessionStart']"
										},
										"sink": {
											"name": "session_start",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['pageViews']"
										},
										"sink": {
											"name": "page_views",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['duration']"
										},
										"sink": {
											"name": "duration",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['source']"
										},
										"sink": {
											"name": "source",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['firstVisit']"
										},
										"sink": {
											"name": "first_visit",
											"type": "Boolean"
										}
									}
								],
								"collectionReference": "$['sessions']"
							}
						},
						"inputs": [
							{
								"referenceName": "RootJsonFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WivVisitorSessionsSqlDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ExtractVisitors",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DateRangePeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "visitor_feed",
									"wildcardFileName": "*.json"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['countryShortName']"
										},
										"sink": {
											"name": "countryShortName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['region']"
										},
										"sink": {
											"name": "region",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['firstVisited']"
										},
										"sink": {
											"name": "firstVisited",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['company']"
										},
										"sink": {
											"name": "company",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['ignored']"
										},
										"sink": {
											"name": "ignored",
											"type": "Boolean"
										}
									}
								],
								"collectionReference": "$['data']"
							}
						},
						"inputs": [
							{
								"referenceName": "RootJsonFolderDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WivVisitorsCsvDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DedupVisitors",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ExtractVisitors",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DedupVisitorsDataflow",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "LoadVisitors",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DedupVisitors",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE web_analytics.visitors",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "countryShortName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_short_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "firstVisited",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "first_visited",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "company",
											"type": "Boolean",
											"physicalType": "String"
										},
										"sink": {
											"name": "company",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ignored",
											"type": "Boolean",
											"physicalType": "String"
										},
										"sink": {
											"name": "ignored",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "WivDedupedVisitorsCsvDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WivVisitorsSqlDataset",
								"type": "DatasetReference"
							}
						]
					}
				],
				"concurrency": 1,
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RootJsonFolderDataset')]",
				"[concat(variables('factoryId'), '/datasets/WivVisitorSessionsSqlDataset')]",
				"[concat(variables('factoryId'), '/datasets/WivVisitorsCsvDataset')]",
				"[concat(variables('factoryId'), '/dataflows/DedupVisitorsDataflow')]",
				"[concat(variables('factoryId'), '/datasets/WivDedupedVisitorsCsvDataset')]",
				"[concat(variables('factoryId'), '/datasets/WivVisitorsSqlDataset')]",
				"[concat(variables('factoryId'), '/pipelines/ExtractVisitorFeed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RootJsonFolderDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "ita-web-analytics"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WivDateRangePeriodsCsvDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "wiv"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "wiv_date_range_periods.csv",
						"container": "ita-web-analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WivDedupedVisitorsCsvDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "wiv"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "deduped_visitors.csv",
						"container": "ita-web-analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WivVisitorFeedJsonDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DateFrom": {
						"type": "string"
					},
					"DateTo": {
						"type": "string"
					},
					"Page": {
						"type": "string"
					}
				},
				"folder": {
					"name": "wiv"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "page_@{dataset().Page}.json",
							"type": "Expression"
						},
						"folderPath": {
							"value": "visitor_feed/@{dataset().DateFrom}_@{dataset().DateTo}",
							"type": "Expression"
						},
						"container": "ita-web-analytics"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WivVisitorFeedRestDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WhoIsVisitingRestLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"QueryString": {
						"type": "string"
					}
				},
				"folder": {
					"name": "wiv"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "api/v1/accounts/25508/visitor-feed?token=F5935DD2-EFE7-4120-935A-F7BE4BE9F324&@{dataset().QueryString}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WhoIsVisitingRestLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WivVisitorSessionsSqlDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "wiv"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "web_analytics",
					"table": "visitor_sessions"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WivVisitorsCsvDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "wiv"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "visitors.csv",
						"container": "ita-web-analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WivVisitorsSqlDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "wiv"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "web_analytics",
					"table": "visitors"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WhoIsVisitingRestLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://iptrack.io",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DedupVisitorsDataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "WivVisitorsCsvDataset",
								"type": "DatasetReference"
							},
							"name": "Visitors"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "RootFolderDataset",
								"type": "DatasetReference"
							},
							"name": "DedupedVisitorCsv"
						}
					],
					"transformations": [
						{
							"name": "DedupedVisitors"
						}
					],
					"script": "source(output(\n\t\tid as long,\n\t\tname as string,\n\t\tcountryShortName as string,\n\t\tregion as string,\n\t\tfirstVisited as string,\n\t\tcompany as boolean,\n\t\tignored as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Visitors\nVisitors aggregate(groupBy(id),\n\teach(match(name!='id'), $$ = first($$))) ~> DedupedVisitors\nDedupedVisitors sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['deduped_visitors.csv'],\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DedupedVisitorCsv"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WivVisitorsCsvDataset')]"
			]
		}
	]
}