ItaWebAnalyticsDataFactory/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ItaWebAnalyticsDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PagesRestDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SiteImproveRestLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "v2/sites/17536213616/content/pages?page=1&page_size=1000"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PagesSqlDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "web_analytics_pages"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PagesWithBrokenLinksCsvDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "pages_with_broken_links.csv",
						"container": "ita-web-analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PagesWithBrokenLinksRestDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SiteImproveRestLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "v2/sites/17536213616/quality_assurance/links/pages_with_broken_links?page=1&page_size=1000"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PagesWithBrokenLinksSqlDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "web_analytics",
					"table": "pages_with_broken_links"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/QualityAssuranceSummaryCsvDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "quality_assurance_summary.csv",
						"container": "ita-web-analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/QualityAssuranceSummaryRestDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SiteImproveRestLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "v2/sites/17536213616/quality_assurance/overview/summary"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SeoGroupsCsvDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "seo_groups.csv",
						"container": "ita-web-analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SeoGroupsRestDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SiteImproveRestLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "/v2/sites/17536213616/seo/overview/groups?page=1&page_size=1000"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SeoGroupsSqlDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "web_analytics_seo_groups"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SeoPagesCsvDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "seo_pages.csv",
						"container": "ita-web-analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SeoPagesRestDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SiteImproveRestLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "v2/sites/17536213616/seo/pages?page=1&page_size=1000"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SeoPagesSqlDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "web_analytics",
					"table": "pages"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsBrowsersMetricsByFilterId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AnalyticsFilter",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupAnalyticsFilters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupAnalyticsFilters').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExtractAnalyticsBrowsersMetrics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "analytics_filter_id",
													"value": {
														"value": "@{item().id}",
														"type": "Expression"
													}
												},
												{
													"name": "analytics_group_id",
													"value": "1"
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:01.000",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.links.next.href"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['data']['Chrome']"
													},
													"sink": {
														"name": "Chrome",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Chrome Mobile']"
													},
													"sink": {
														"name": "Chrome Mobile",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Edge']"
													},
													"sink": {
														"name": "Edge",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Safari']"
													},
													"sink": {
														"name": "Safari",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Mobile Safari']"
													},
													"sink": {
														"name": "Mobile Safari",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['IE']"
													},
													"sink": {
														"name": "IE",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['IE Mobile']"
													},
													"sink": {
														"name": "IE Mobile",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Firefox']"
													},
													"sink": {
														"name": "Firefox",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Android Browser']"
													},
													"sink": {
														"name": "Android Browser",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Samsung Browser']"
													},
													"sink": {
														"name": "Samsung Browser",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Opera']"
													},
													"sink": {
														"name": "Opera",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Opera Mini']"
													},
													"sink": {
														"name": "Opera Mini",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Opera Mobile']"
													},
													"sink": {
														"name": "Opera Mobile",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Unknown  ']"
													},
													"sink": {
														"name": "Unknown",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['timestamp']"
													},
													"sink": {
														"name": "timestamp",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['analytics_filter_id']"
													},
													"sink": {
														"name": "analytics_filter_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_group_id']"
													},
													"sink": {
														"name": "analytics_group_id",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['items']"
										}
									},
									"inputs": [
										{
											"referenceName": "AnalyticsBrowsersMetricsRestDataset",
											"type": "DatasetReference",
											"parameters": {
												"QueryString": {
													"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}&filter_id=@{item().id}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsBrowsersMetricsByPeriodCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Period": {
													"value": "@{pipeline().parameters.Period}",
													"type": "Expression"
												},
												"FileName": {
													"value": "analytics_group_1_analytics_filter_@{item().id}.csv",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "LookupAnalyticsFilters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsFiltersCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsBrowsersMetricsByGroupIdFilterId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AnalyticsFilter",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupAnalyticsFilters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupAnalyticsFilters').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExtractAnalyticsBrowsersMetrics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "analytics_group_id",
													"value": {
														"value": "@{pipeline().parameters.GroupId}",
														"type": "Expression"
													}
												},
												{
													"name": "analytics_filter_id",
													"value": {
														"value": "@{item().id}",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:01.000",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.links.next.href"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['data']['Chrome']"
													},
													"sink": {
														"name": "Chrome",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Chrome Mobile']"
													},
													"sink": {
														"name": "Chrome Mobile",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Edge']"
													},
													"sink": {
														"name": "Edge",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Safari']"
													},
													"sink": {
														"name": "Safari",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Mobile Safari']"
													},
													"sink": {
														"name": "Mobile Safari",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['IE']"
													},
													"sink": {
														"name": "IE",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['IE Mobile']"
													},
													"sink": {
														"name": "IE Mobile",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Firefox']"
													},
													"sink": {
														"name": "Firefox",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Android Browser']"
													},
													"sink": {
														"name": "Android Browser",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Samsung Browser']"
													},
													"sink": {
														"name": "Samsung Browser",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Opera']"
													},
													"sink": {
														"name": "Opera",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Opera Mini']"
													},
													"sink": {
														"name": "Opera Mini",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Opera Mobile']"
													},
													"sink": {
														"name": "Opera Mobile",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Unknown  ']"
													},
													"sink": {
														"name": "Unknown",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['timestamp']"
													},
													"sink": {
														"name": "timestamp",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['analytics_group_id']"
													},
													"sink": {
														"name": "analytics_group_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_filter_id']"
													},
													"sink": {
														"name": "analytics_filter_id",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['items']"
										}
									},
									"inputs": [
										{
											"referenceName": "AnalyticsBrowsersMetricsRestDataset",
											"type": "DatasetReference",
											"parameters": {
												"QueryString": {
													"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}&group_id=@{pipeline().parameters.GroupId}&filter_id=@{item().id}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsBrowsersMetricsByPeriodCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Period": {
													"value": "@{pipeline().parameters.Period}",
													"type": "Expression"
												},
												"FileName": {
													"value": "analytics_group_@{pipeline().parameters.GroupId}_analytics_filter_@{item().id}.csv",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "LookupAnalyticsFilters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsFiltersCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					},
					"GroupId": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsFiltersAnalyticsPages')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupAnalyticsFilters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DeleteAnalyticsFiltersAnalyticsPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsFiltersCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachAnalyticsFilterExtractAnalyticsPages",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupAnalyticsFilters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupAnalyticsFilters').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExtractAnalyticsFiltersAnalyticsPages",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "analytics_filter_id",
													"value": {
														"value": "@{item().id}",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.links.next.href"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "analytics_page_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_filter_id']"
													},
													"sink": {
														"name": "analytics_filter_id",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['items']"
										}
									},
									"inputs": [
										{
											"referenceName": "AnalyticsFiltersAnalyticsPagesRestDataset",
											"type": "DatasetReference",
											"parameters": {
												"FilterId": "@{item().id}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsFiltersAnalyticsPagesCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"FilterId": "@{item().id}"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "DeleteAnalyticsFiltersAnalyticsPages",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "touch analytics_filters folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsFiltersAnalyticsPagesFolderDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"wildcardFileName": "analytics_filter_*.csv"
							}
						}
					},
					{
						"name": "touch analytics_filters folder",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AnalyticsFiltersCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsFiltersAnalyticsPagesFolderDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsGroupsAnalyticsPages')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupAnalyticsGroups",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DeleteAnalyticsGroupsAnalyticsPages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachAnalyticsGroupExtractAnalyticsPages",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupAnalyticsGroups",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupAnalyticsGroups').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExtractAnalyticsGroupsAnalyticsPages",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "analytics_group_id",
													"value": {
														"value": "@{item().id}",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.links.next.href"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "analytics_page_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_group_id']"
													},
													"sink": {
														"name": "analytics_group_id",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['items']"
										}
									},
									"inputs": [
										{
											"referenceName": "AnalyticsGroupsAnalyticsPagesRestDataset",
											"type": "DatasetReference",
											"parameters": {
												"GroupId": "@{item().id}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsGroupsAnalyticsPagesCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"GroupId": "@{item().id}"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "DeleteAnalyticsGroupsAnalyticsPages",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Prevent Delete from failing when folder is empty",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsGroupsAnalyticsPagesFolderDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false
							}
						}
					},
					{
						"name": "Prevent Delete from failing when folder is empty",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsGroupsAnalyticsPagesFolderDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsHistoricalMetricsByFilterId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AnalyticsFilter",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupAnalyticsFilters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupAnalyticsFilters').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExtractAnalyticsHistoricalMetrics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "analytics_filter_id",
													"value": {
														"value": "@{item().id}",
														"type": "Expression"
													}
												},
												{
													"name": "analytics_group_id",
													"value": "1"
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:01.000",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.links.next.href"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['bounce_rate']"
													},
													"sink": {
														"name": "bounce_rate",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"path": "[['new_visitors']"
													},
													"sink": {
														"name": "new_visitors",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['page_views']"
													},
													"sink": {
														"name": "page_views",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['returning_visitors']"
													},
													"sink": {
														"name": "returning_visitors",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['timestamp']"
													},
													"sink": {
														"name": "timestamp",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['unique_visitors']"
													},
													"sink": {
														"name": "unique_visitors",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['visits']"
													},
													"sink": {
														"name": "visits",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_filter_id']"
													},
													"sink": {
														"name": "analytics_filter_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_group_id']"
													},
													"sink": {
														"name": "analytics_group_id",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['items']"
										}
									},
									"inputs": [
										{
											"referenceName": "AnalyticsHistoricalMetricsRestDataset",
											"type": "DatasetReference",
											"parameters": {
												"QueryString": {
													"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}&filter_id=@{item().id}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsHistoricalMetricsByPeriodCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Period": {
													"value": "@{pipeline().parameters.Period}",
													"type": "Expression"
												},
												"FileName": {
													"value": "analytics_group_1_analytics_filter_@{item().id}.csv",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "LookupAnalyticsFilters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsFiltersCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsHistoricalMetricsByGroupIdFilterId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AnalyticsFilter",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupAnalyticsFilters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupAnalyticsFilters').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExtractAnalyticsHistoricalMetrics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "analytics_group_id",
													"value": {
														"value": "@{pipeline().parameters.GroupId}",
														"type": "Expression"
													}
												},
												{
													"name": "analytics_filter_id",
													"value": {
														"value": "@{item().id}",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:01.000",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.links.next.href"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['bounce_rate']"
													},
													"sink": {
														"name": "bounce_rate",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"path": "[['new_visitors']"
													},
													"sink": {
														"name": "new_visitors",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['page_views']"
													},
													"sink": {
														"name": "page_views",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['returning_visitors']"
													},
													"sink": {
														"name": "returning_visitors",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['timestamp']"
													},
													"sink": {
														"name": "timestamp",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['unique_visitors']"
													},
													"sink": {
														"name": "unique_visitors",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['visits']"
													},
													"sink": {
														"name": "visits",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_group_id']"
													},
													"sink": {
														"name": "analytics_group_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_filter_id']"
													},
													"sink": {
														"name": "analytics_filter_id",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['items']"
										}
									},
									"inputs": [
										{
											"referenceName": "AnalyticsHistoricalMetricsRestDataset",
											"type": "DatasetReference",
											"parameters": {
												"QueryString": {
													"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}&group_id=@{pipeline().parameters.GroupId}&filter_id=@{item().id}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsHistoricalMetricsByPeriodCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Period": {
													"value": "@{pipeline().parameters.Period}",
													"type": "Expression"
												},
												"FileName": {
													"value": "analytics_group_@{pipeline().parameters.GroupId}_analytics_filter_@{item().id}.csv",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "LookupAnalyticsFilters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsFiltersCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					},
					"GroupId": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsPageMetricsByPeriodFilterId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupAnalyticsFilters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsFiltersCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachAnalyticsFilterExtractAnalyticsPageMetrics",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupAnalyticsFilters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupAnalyticsFilters').output.value",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "ExtractAnalyticsGroupsAnalyticsPageMetrics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "date",
													"value": {
														"value": "@{pipeline().parameters.Period}",
														"type": "Expression"
													}
												},
												{
													"name": "filter_id",
													"value": {
														"value": "@{item().id}",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:03:00",
											"requestInterval": "00.00:00:01.000",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.links.next.href"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['average_page_views_per_visit']"
													},
													"sink": {
														"name": "average_page_views_per_visit",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"path": "[['bounce_rate']"
													},
													"sink": {
														"name": "bounce_rate",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"path": "[['page_views']"
													},
													"sink": {
														"name": "page_views",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['visits']"
													},
													"sink": {
														"name": "visits",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['date']"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['filter_id']"
													},
													"sink": {
														"name": "filter_id",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['items']"
										}
									},
									"inputs": [
										{
											"referenceName": "AnalyticsPageMetricsRestDatasetByPeriodFilterId",
											"type": "DatasetReference",
											"parameters": {
												"Period": {
													"value": "@pipeline().parameters.Period",
													"type": "Expression"
												},
												"FilterId": "@item().id"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsPageMetricsCsvDatasetByPeriodFilterId",
											"type": "DatasetReference",
											"parameters": {
												"Period": {
													"value": "@pipeline().parameters.Period",
													"type": "Expression"
												},
												"FilterId": "@item().id"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"variables": {
					"Period": {
						"type": "String"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}