ItaWebAnalyticsDataFactory/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ItaWebAnalyticsDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ExtractContentGroupsRelatedDatasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExtractContentGroups",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"AbsoluteUrl": "$.links.next.href"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['group_name']"
										},
										"sink": {
											"name": "group_name",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['items']"
							}
						},
						"inputs": [
							{
								"referenceName": "ContentGroupsRestDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ContentGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadContentGroupsRelatedDatasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoadContentGroups",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [web_analytics].[content_groups]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "group_name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ContentGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ContentGroupsSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UnpivotAndLoadAnalyticsBrowsersMetrics')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AnalyticsBrowsersMetricsFolderDataset",
								"type": "DatasetReference"
							},
							"name": "AnalyticsBrowsersMetrics"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AnalyticsBrowsersMetricsSqlDataset",
								"type": "DatasetReference"
							},
							"name": "SinkUnpivotedAnalyticsBrowsersMetrics"
						}
					],
					"transformations": [
						{
							"name": "UnpivotedAnalyticsBrowsersMetrics"
						},
						{
							"name": "Filter1"
						}
					],
					"script": "source(output(\n\t\tChrome as integer,\n\t\t{Chrome Mobile} as integer,\n\t\tEdge as integer,\n\t\tSafari as integer,\n\t\t{Mobile Safari} as integer,\n\t\tIE as integer,\n\t\t{IE Mobile} as integer,\n\t\tFirefox as integer,\n\t\t{Android Browser} as integer,\n\t\t{Samsung Browser} as integer,\n\t\tOpera as integer,\n\t\t{Opera Mini} as integer,\n\t\t{Opera Mobile} as integer,\n\t\tUnknown as integer,\n\t\ttimestamp as string,\n\t\tanalytics_group_id as long,\n\t\tanalytics_filter_id as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\twildcardPaths:['analytics_browsers_metrics/**/*.csv']) ~> AnalyticsBrowsersMetrics\nAnalyticsBrowsersMetrics unpivot(output(\n\t\tbrowser_name as string,\n\t\tvisits as integer\n\t),\n\tungroupBy(analytics_group_id,\n\t\tanalytics_filter_id,\n\t\ttimestamp),\n\tlateral: false,\n\tignoreNullPivots: false) ~> UnpivotedAnalyticsBrowsersMetrics\nUnpivotedAnalyticsBrowsersMetrics filter(visits > 0) ~> Filter1\nFilter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tpreSQLs:['TRUNCATE TABLE [web_analytics].[analytics_browsers_metrics]'],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SinkUnpivotedAnalyticsBrowsersMetrics"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsBrowsersMetricsByGroupId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupAnalyticsGroups",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "AnalyticsGroup",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupAnalyticsGroups",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupAnalyticsGroups').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "ExtractAnalyticsBrowsersMetrics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "analytics_group_id",
													"value": {
														"value": "@{item().id}",
														"type": "Expression"
													}
												},
												{
													"name": "analytics_filter_id",
													"value": "1"
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.links.next.href"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['data']['Chrome']"
													},
													"sink": {
														"name": "Chrome",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Chrome Mobile']"
													},
													"sink": {
														"name": "Chrome Mobile",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Edge']"
													},
													"sink": {
														"name": "Edge",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Safari']"
													},
													"sink": {
														"name": "Safari",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Mobile Safari']"
													},
													"sink": {
														"name": "Mobile Safari",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['IE']"
													},
													"sink": {
														"name": "IE",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['IE Mobile']"
													},
													"sink": {
														"name": "IE Mobile",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Firefox']"
													},
													"sink": {
														"name": "Firefox",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Android Browser']"
													},
													"sink": {
														"name": "Android Browser",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Samsung Browser']"
													},
													"sink": {
														"name": "Samsung Browser",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Opera']"
													},
													"sink": {
														"name": "Opera",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Opera Mini']"
													},
													"sink": {
														"name": "Opera Mini",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Opera Mobile']"
													},
													"sink": {
														"name": "Opera Mobile",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['data']['Unknown  ']"
													},
													"sink": {
														"name": "Unknown",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['timestamp']"
													},
													"sink": {
														"name": "timestamp",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['analytics_group_id']"
													},
													"sink": {
														"name": "analytics_group_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_filter_id']"
													},
													"sink": {
														"name": "analytics_filter_id",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['items']"
										}
									},
									"inputs": [
										{
											"referenceName": "AnalyticsBrowsersMetricsRestDataset",
											"type": "DatasetReference",
											"parameters": {
												"QueryString": {
													"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}&group_id=@{item().id}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsBrowsersMetricsByPeriodCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Period": {
													"value": "@{pipeline().parameters.Period}",
													"type": "Expression"
												},
												"FileName": {
													"value": "analytics_group_@{item().id}.csv",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "ExecuteExtractByGroupIdFilterId",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ExtractAnalyticsBrowsersMetrics",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ExtractAnalyticsBrowsersMetricsByGroupIdFilterId",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Period": {
												"value": "@{pipeline().parameters.Period}",
												"type": "Expression"
											},
											"GroupId": {
												"value": "@{item().id}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsHistoricalMetricsByGroupId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupAnalyticsGroups",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "AnalyticsGroup",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupAnalyticsGroups",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupAnalyticsGroups').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "ExtractAnalyticsHistoricalMetrics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "analytics_group_id",
													"value": {
														"value": "@{item().id}",
														"type": "Expression"
													}
												},
												{
													"name": "analytics_filter_id",
													"value": "1"
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.links.next.href"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['bounce_rate']"
													},
													"sink": {
														"name": "bounce_rate",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"path": "[['new_visitors']"
													},
													"sink": {
														"name": "new_visitors",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['page_views']"
													},
													"sink": {
														"name": "page_views",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['returning_visitors']"
													},
													"sink": {
														"name": "returning_visitors",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['timestamp']"
													},
													"sink": {
														"name": "timestamp",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['unique_visitors']"
													},
													"sink": {
														"name": "unique_visitors",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['visits']"
													},
													"sink": {
														"name": "visits",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_group_id']"
													},
													"sink": {
														"name": "analytics_group_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_filter_id']"
													},
													"sink": {
														"name": "analytics_filter_id",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['items']"
										}
									},
									"inputs": [
										{
											"referenceName": "AnalyticsHistoricalMetricsRestDataset",
											"type": "DatasetReference",
											"parameters": {
												"QueryString": {
													"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}&group_id=@{item().id}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsHistoricalMetricsByPeriodCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Period": {
													"value": "@{pipeline().parameters.Period}",
													"type": "Expression"
												},
												"FileName": {
													"value": "analytics_group_@{item().id}.csv",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "ExecuteExtractByGroupIdFilterId",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ExtractAnalyticsHistoricalMetrics",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ExtractAnalyticsHistoricalMetricsByGroupIdFilterId",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Period": {
												"value": "@{pipeline().parameters.Period}",
												"type": "Expression"
											},
											"GroupId": {
												"value": "@{item().id}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsTrafficSourcesMetricsByGroupId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupAnalyticsGroups",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "AnalyticsGroup",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupAnalyticsGroups",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupAnalyticsGroups').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "ExtractAnalyticsTrafficSourcesMetrics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "analytics_group_id",
													"value": {
														"value": "@{item().id}",
														"type": "Expression"
													}
												},
												{
													"name": "analytics_filter_id",
													"value": "1"
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.links.next.href"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['direct_traffic']"
													},
													"sink": {
														"name": "direct_traffic",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['external_referrer']"
													},
													"sink": {
														"name": "external_referrer",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['search_domain']"
													},
													"sink": {
														"name": "search_domain",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['social_media']"
													},
													"sink": {
														"name": "social_media",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['timestamp']"
													},
													"sink": {
														"name": "timestamp",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['analytics_group_id']"
													},
													"sink": {
														"name": "analytics_group_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "$['analytics_filter_id']"
													},
													"sink": {
														"name": "analytics_filter_id",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['items']"
										}
									},
									"inputs": [
										{
											"referenceName": "AnalyticsTrafficSourcesMetricsRestDataset",
											"type": "DatasetReference",
											"parameters": {
												"QueryString": {
													"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}&group_id=@{item().id}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AnalyticsTrafficSourcesMetricsByPeriodCsvDataset",
											"type": "DatasetReference",
											"parameters": {
												"Period": {
													"value": "@{pipeline().parameters.Period}",
													"type": "Expression"
												},
												"FileName": {
													"value": "analytics_group_@{item().id}.csv",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "ExecuteExtractByGroupIdFilterId",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ExtractAnalyticsTrafficSourcesMetrics",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ExtractAnalyticsTrafficSourcesMetricsByGroupIdFilterId",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Period": {
												"value": "@{pipeline().parameters.Period}",
												"type": "Expression"
											},
											"GroupId": {
												"value": "@{item().id}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadAnalyticsRelatedDatasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoadAnalyticsGroups",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [web_analytics].[analytics_groups]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "group_name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsGroupsSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LoadAnalyticsFilters",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [web_analytics].[analytics_filters]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsFiltersCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsFiltersSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LoadAnalyticsTrafficSourcesMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "analytics_traffic_sources_metrics",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_traffic_sources_metrics]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "analytics_filter_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_filter_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "direct_traffic",
											"type": "String"
										},
										"sink": {
											"name": "direct_traffic",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "external_referrer",
											"type": "String"
										},
										"sink": {
											"name": "external_referrer",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "search_domain",
											"type": "String"
										},
										"sink": {
											"name": "search_domain",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "social_media",
											"type": "String"
										},
										"sink": {
											"name": "social_media",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsTrafficSourcesMetricsByPeriodFolderDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsTrafficSourcesMetricsSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LoadAnalyticsHistoricalMetrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "analytics_historical_metrics",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE [web_analytics].[analytics_historical_metrics]",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "analytics_group_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "analytics_filter_id",
											"type": "String"
										},
										"sink": {
											"name": "analytics_filter_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "bounce_rate",
											"type": "String"
										},
										"sink": {
											"name": "bounce_rate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "page_views",
											"type": "String"
										},
										"sink": {
											"name": "page_views",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "visits",
											"type": "String"
										},
										"sink": {
											"name": "visits",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "new_visitors",
											"type": "String"
										},
										"sink": {
											"name": "new_visitors",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "returning_visitors",
											"type": "String"
										},
										"sink": {
											"name": "returning_visitors",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "unique_visitors",
											"type": "String"
										},
										"sink": {
											"name": "unique_visitors",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsHistoricalMetricsByPeriodFolderDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsHistoricalMetricsSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UnpivotAndLoadAnalyticsBrowsersMetrics",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "UnpivotAndLoadAnalyticsBrowsersMetrics",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"AnalyticsBrowsersMetrics": {},
									"SinkUnpivotedAnalyticsBrowsersMetrics": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/UnpivotAndLoadAnalyticsBrowsersMetrics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsBrowsersMetrics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExtractByPeriod",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Period Folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "analytics_group_id",
										"value": "1"
									},
									{
										"name": "analytics_filter_id",
										"value": "1"
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['data']['Chrome']"
										},
										"sink": {
											"name": "Chrome",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['Chrome Mobile']"
										},
										"sink": {
											"name": "Chrome Mobile",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['Edge']"
										},
										"sink": {
											"name": "Edge",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['Safari']"
										},
										"sink": {
											"name": "Safari",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['Mobile Safari']"
										},
										"sink": {
											"name": "Mobile Safari",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['IE']"
										},
										"sink": {
											"name": "IE",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['IE Mobile']"
										},
										"sink": {
											"name": "IE Mobile",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['Firefox']"
										},
										"sink": {
											"name": "Firefox",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['Android Browser']"
										},
										"sink": {
											"name": "Android Browser",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['Samsung Browser']"
										},
										"sink": {
											"name": "Samsung Browser",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['Opera']"
										},
										"sink": {
											"name": "Opera",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['Opera Mini']"
										},
										"sink": {
											"name": "Opera Mini",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['Opera Mobile']"
										},
										"sink": {
											"name": "Opera Mobile",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['data']['Unknown  ']"
										},
										"sink": {
											"name": "Unknown",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['timestamp']"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['analytics_group_id']"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['analytics_filter_id']"
										},
										"sink": {
											"name": "analytics_filter_id",
											"type": "Int64"
										}
									}
								],
								"collectionReference": "$['items']"
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsBrowsersMetricsRestDataset",
								"type": "DatasetReference",
								"parameters": {
									"QueryString": {
										"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsBrowsersMetricsByPeriodCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									},
									"FileName": {
										"value": "analytics_group_1_analytics_filter_1.csv",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ExtractByPeriodGroupId",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExtractByPeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsBrowsersMetricsByGroupId",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@{pipeline().parameters.Period}",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExtractByPeriodFilterId",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExtractByPeriodGroupId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsBrowsersMetricsByFilterId",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@{pipeline().parameters.Period}",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete Period Folder",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Prevent Delete from failing when folder is empty",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsBrowsersMetricsByPeriodFolderDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "Prevent Delete from failing when folder is empty",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsBrowsersMetricsByPeriodCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									},
									"FileName": "filler.csv"
								}
							}
						]
					}
				],
				"concurrency": 1,
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsBrowsersMetricsByGroupId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsHistoricalMetrics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExtractByPeriod",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Period Folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "analytics_group_id",
										"value": "1"
									},
									{
										"name": "analytics_filter_id",
										"value": "1"
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['bounce_rate']"
										},
										"sink": {
											"name": "bounce_rate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['new_visitors']"
										},
										"sink": {
											"name": "new_visitors",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['page_views']"
										},
										"sink": {
											"name": "page_views",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['returning_visitors']"
										},
										"sink": {
											"name": "returning_visitors",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['timestamp']"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['unique_visitors']"
										},
										"sink": {
											"name": "unique_visitors",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['visits']"
										},
										"sink": {
											"name": "visits",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['analytics_group_id']"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['analytics_filter_id']"
										},
										"sink": {
											"name": "analytics_filter_id",
											"type": "Int64"
										}
									}
								],
								"collectionReference": "$['items']"
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsHistoricalMetricsRestDataset",
								"type": "DatasetReference",
								"parameters": {
									"QueryString": {
										"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsHistoricalMetricsByPeriodCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									},
									"FileName": {
										"value": "analytics_group_1_analytics_filter_1.csv",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ExtractByPeriodGroupId",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExtractByPeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsHistoricalMetricsByGroupId",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@{pipeline().parameters.Period}",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExtractByPeriodFilterId",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExtractByPeriodGroupId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsHistoricalMetricsByFilterId",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@{pipeline().parameters.Period}",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete Period Folder",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Prevent Delete from failing when folder is empty",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsHistoricalMetricsByPeriodFolderDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "Prevent Delete from failing when folder is empty",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsHistoricalMetricsByPeriodCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									},
									"FileName": "filler.csv"
								}
							}
						]
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsHistoricalMetricsByGroupId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsTrafficSourcesMetrics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExtractByPeriod",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Period Folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "analytics_group_id",
										"value": "1"
									},
									{
										"name": "analytics_filter_id",
										"value": "1"
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['direct_traffic']"
										},
										"sink": {
											"name": "direct_traffic",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['external_referrer']"
										},
										"sink": {
											"name": "external_referrer",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['search_domain']"
										},
										"sink": {
											"name": "search_domain",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['social_media']"
										},
										"sink": {
											"name": "social_media",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['timestamp']"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['analytics_group_id']"
										},
										"sink": {
											"name": "analytics_group_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['analytics_filter_id']"
										},
										"sink": {
											"name": "analytics_filter_id",
											"type": "Int64"
										}
									}
								],
								"collectionReference": "$['items']"
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsTrafficSourcesMetricsRestDataset",
								"type": "DatasetReference",
								"parameters": {
									"QueryString": {
										"value": "page=1&page_size=1000&period=@{pipeline().parameters.Period}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsTrafficSourcesMetricsByPeriodCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									},
									"FileName": {
										"value": "analytics_group_1_analytics_filter_1.csv",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ExtractByPeriodGroupId",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExtractByPeriod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsTrafficSourcesMetricsByGroupId",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@{pipeline().parameters.Period}",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExtractByPeriodFilterId",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExtractByPeriodGroupId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsTrafficSourcesMetricsByFilterId",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@{pipeline().parameters.Period}",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete Period Folder",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Prevent Delete from failing when folder is empty",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AnalyticsTrafficSourcesMetricsByPeriodFolderDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "Prevent Delete from failing when folder is empty",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsTrafficSourcesMetricsByPeriodCsvDataset",
								"type": "DatasetReference",
								"parameters": {
									"Period": {
										"value": "@{pipeline().parameters.Period}",
										"type": "Expression"
									},
									"FileName": "filler.csv"
								}
							}
						]
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsTrafficSourcesMetricsByGroupId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDatasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteLoadContentGroupsRelatedDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadContentGroupsRelatedDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ExecuteLoadAnalyticsRelatedDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadAnalyticsRelatedDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LoadContentGroupsRelatedDatasets')]",
				"[concat(variables('factoryId'), '/pipelines/LoadAnalyticsRelatedDatasets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAnalyticsRelatedDatasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExtractAnalyticsGroups",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"AbsoluteUrl": "$.links.next.href"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['bounce_rate']"
										},
										"sink": {
											"name": "bounce_rate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['group_name']"
										},
										"sink": {
											"name": "group_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['page_views']"
										},
										"sink": {
											"name": "page_views",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['visits']"
										},
										"sink": {
											"name": "visits",
											"type": "Int64"
										}
									}
								],
								"collectionReference": "$['items']"
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsGroupsRestDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsGroupsCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ExtractAnalyticsFilters",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"AbsoluteUrl": "$.links.next.href"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name"
										}
									}
								],
								"collectionReference": "$['items']"
							}
						},
						"inputs": [
							{
								"referenceName": "AnalyticsFiltersRestDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AnalyticsFiltersCsvDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ExecuteExtractAnalyticsTrafficSourcesMetrics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsHistoricalMetrics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsTrafficSourcesMetrics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.Period",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteExtractAnalyticsHistoricalMetrics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExtractAnalyticsGroups",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ExtractAnalyticsFilters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsHistoricalMetrics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.Period",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteExtractAnalyticsBrowsersMetrics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsTrafficSourcesMetrics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsBrowsersMetrics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.Period",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"folder": {
					"name": "analytics"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsTrafficSourcesMetrics')]",
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsHistoricalMetrics')]",
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsBrowsersMetrics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractDatasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExtractContentGroupsRelatedDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractContentGroupsRelatedDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ExtractAnalyticsRelatedDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsRelatedDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ExtractContentGroupsRelatedDatasets')]",
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsRelatedDatasets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteExtractAnalyticsRelatedDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsRelatedDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@convertFromUtc(utcnow(), 'Eastern Standard Time', 'yyyyMMdd')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteLoadAnalyticsRelatedDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsRelatedDatasets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadAnalyticsRelatedDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@convertFromUtc(utcnow(), 'Eastern Standard Time', 'yyyyMMdd')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"concurrency": 1,
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsRelatedDatasets')]",
				"[concat(variables('factoryId'), '/pipelines/LoadAnalyticsRelatedDatasets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainPipelineManual')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteExtractAnalyticsRelatedDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ExtractAnalyticsRelatedDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.Period",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ExecuteLoadAnalyticsRelatedDatasets",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ExecuteExtractAnalyticsRelatedDatasets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadAnalyticsRelatedDatasets",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Period": {
									"value": "@pipeline().parameters.Period",
									"type": "Expression"
								}
							}
						}
					}
				],
				"concurrency": 1,
				"parameters": {
					"Period": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ExtractAnalyticsRelatedDatasets')]",
				"[concat(variables('factoryId'), '/pipelines/LoadAnalyticsRelatedDatasets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every10Minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "MainPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2020-05-28T18:20:00.000Z",
						"endTime": "2020-05-28T21:00:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MainPipeline')]"
			]
		}
	]
}